[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumplus = "*"
bumpversion = "*"
docker-compose = "*"
pre-commit = "*"
restview = "*"
rst = "*"
caniusepython3 = "*"
isort = "*"
mypy = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
mock = "*"
pyhamcrest = "*"
pytest-cov = "*"
pytest = "*"
tox = "*"
ipython = "*"

[packages]

[requires]
python_version = "3.6.4"
